{% extends 'medewerker.html.twig' %}

{% block menu %}
    <li><a href="{{ path('activiteiten') }}">home</a></li>
    <li class="active"><a href="{{ path('user_bezoeker_edit', {'id': app.user.id}) }}">Account</a></li>
{% endblock %}

{% block content %}
    <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
